@charset "utf-8";
/* CSS Menu */

* {
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
body {
	background-color: #CDCCD0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
b {
	color: #232323;
}
/* Wrapper*/
div.Wrapper {
	position:relative;
	word-wrap: break-word;
	padding-bottom: 10px;
}

/* Menu chính */
div.Main-menu {
	height: 100px;
	position: relative;
	background-color:#303030;
}

/* IMG */
div.image {
	width: 30%;
	height:100%;
	float:left;
}
div.image img {
	height:100%;
	padding-left: 10px;
}

/* Menu */
div.Menu {
	width: 70%;
	float:right;
	position:relative;
}
ul.Menu {
	height:100px;
	overflow:hidden;
	
}
ul.Menu > li {
	display:block;
	float:right;
	line-height: 100px;
	min-width: 120px;
}
ul.Menu li a {
	display: block;
	text-align: center;
	color:white;
}	
ul > li {
	transition: 0.2s; /* important for the transition */
}
ul.Menu li:hover {
	background-color: #272727;
}

/* dropdown menu*/
.sub-menu {
	display:none;
	position: absolute;
	z-index: 10;
}
.sub-menu li {
	background-color: #303030;
	min-width: 200px;
	line-height: 50px;
	display: none;
	opacity: 0;
}
.SubMenu:hover .sub-menu, .SubMenu:hover .sub-menu li {
	display: block;	
	animation: load 0.5s forwards;
}

@keyframes load {
	100% {
		opacity: 1;
	}
}
/*Back ground img*/

div.background_image {
	position:relative;
	width: 80%;	
	margin-left: auto;
	margin-right: auto;
}
div.background_image img{
	display: block;
	width: 100%;
	box-shadow: 0px 0px 10px black;
}
div.background_image h1 {
	color:white;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	font-size: 40px;
	text-align: center;
	z-index: 5;
	opacity: 1;
}
div.background_image div {
	position: absolute;
	height: 100%;
	width: 40%;
	top:0;
	right:0;
	background: black;
	opacity: 0.5;
	z-index: 2;
	float: right;
}

/* Footer */
div.footer {
	background: #303030;
	position:relative;
	width: 100%;
}
div.footer ul {
	display: table; /* important to get the ul into the center */
	overflow: hidden;
	margin:auto;
}
div.footer ul li{
	float: left;
	background:#303030;
	display: block;
	border-left: 1px solid white;
}
div.footer ul li:first-child{
	border: none;
}
div.footer a {
	display: block;
	min-width: 120px;
	padding: 15px 15px;
	color:white;
	text-align: center;
}

/* body */
div.body {
	position: relative;
	width: 90%;
	margin: 0 auto;
	background-color: #AFAFAF;
	border-radius: 10px;
}

/* body-introduction */
div.body-introduction {
	width:100%;
	position: relative;
	overflow: hidden;
	padding: 10px;
	box-sizing: border-box;
}
div.body-introduction > div.introduction {
	width: 65%;
	min-height: 250px;
	border-right: 1px solid white;
	box-sizing:border-box; 
}
div.body-introduction > div.support {
	width: 35%;
	min-height:  250px;
}
div.body-introduction > div {
	float:left;
}
div.support >div > h2{
	text-align: center;
	margin: 5px;
	padding: 5px;
	color: white;
	text-shadow: 2px 2px 5px black;
	background-color: #4A4A4A;
}
div.support >div > ul{
	list-style-type: disc;
	padding-left: 30px;
}
div.support >div > ul > li {
	padding: 5px 0px;
}
div.support >div > ul > li > a {
	color: black;
}
div.support >div > ul > li > a:hover {
	text-shadow: 2px 2px 5px black;
	color: white;
}
div.introduction {
	padding:10px;
}
div.introduction > p {
	padding: 5px;
	font-size: 18px;
}

/* items */
div.items {
	clear:both;
	box-sizing: border-box;
	padding: 10px;
	position: relative;
	border-top:1px solid white;
}
div.item {
	min-height: 300px;
}
div.item > ul.item {
	width: 100%;
	display: flex;
}
div.item > ul.item > li {
	width: 33%;
	padding: 0px 10px;
}
div.content img {
	width: 100%;
	height: 200px;
	padding: 10px;
}
div.content h2 {
	text-align: center;
}
div.content h2 a {
	text-shadow: 2px 2px 5px black;
	color:white;
}
div.content p {
	padding: 10px;
	font-size: 16px;
}
































