$mainColor: #202026;
$hoverColor: #A6A6A6;
$mainTextColor: #404040;

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    div.container {
        position: relative;
        width: 100%;

        div.image {
            position: relative;

            img {
                width: 100%;
                display: block;
            }
        }

        div.Menu-items {
            position: absolute;
            top: 0;
            right: 0;
            width: auto;

            div.item {
                float: right;
                padding: 20px 40px;
                color: $mainTextColor;
                font-size: 16px;
                transition: 0.5s;

                &:hover {
                    color: $hoverColor;
                }
            }
        }
        
    }
    
}